*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --rs-primary: #0084fd;
    --rs-secondary: #9792e4;
    --rs-shadow: #d0e8ff;
    --rs-light: #b5ddff;
}

/* Utilities*/

.row{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}


.d-flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.container{
    max-width: 1152px;
    width: 80%;
    margin: auto;
}

.container2{
    width: 70%;
    margin: auto;
}

.col4{
    width:calc(100% / 12 * 4)
}

.col6{
    width:calc(100% / 12 * 6)
}

.col8{
    width:calc(100% / 12 * 8)
}

.col12{
    width: 100%
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.gap1{
    gap: 1rem;
}

.gap{
    gap: 0.5rem;
}

.gap3{
    gap: 3rem;
}

.text-unstyled{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.py-1{
    padding: 1rem;
}

.py-bottom4{
    padding-bottom: 4rem;
}

.my-left2{
    margin-left: 2rem;
}

.my-top{
    margin-top: 1rem;
}

.my-top2{
    margin-top: 2rem;
}

.my-top3{
    margin-top: 3rem;
}

.my-top5{
    margin-top: 5rem;
}

.my-bottom2{
    margin-bottom: 2rem;
}

.my-bottom1{
    margin-bottom: 1rem;
}

.space-line{
    line-height: 2rem;
}

.radius{
    border-radius: 30px;
}

.bg-color{
    background-color: var(--rs-light);
}

.bg-color-light{
    background-color: white;
}
/*#region Header */

header{
    background-color: var(--rs-primary);
}

.text_menu{
    display: none;
}

.text_menu a{
    color: var(--rs-shadow);
    padding-right: 0.75rem;
}

.button_header{
    background-color: white;     
    border-radius: 20px;
    padding: 0.4rem;
}

#black{
    color: black;
}

.icon_menu{
    padding: 1rem 0;
}

.logo img{
    padding: 1rem 0;
}

.self-center{
    align-self: center;
}

/*#endregion*/

/*#region Main*/

.img_first img{
    width: 100%;
}

.text_first{
    padding: 0 1.5rem;
}


.first-row h2{
    color: var(--rs-primary);
    margin: 2rem 0;
}

.first-row a{
    background-color: var(--rs-primary);
    padding: 0.75rem;
    color: white;
    border-radius: 25px;
    font-size: 18px;
}

.space_class{
    margin: 2rem 0;
    padding: 0 4rem;
}

.second-row{
    background-color: var(--rs-secondary);
}

.strategic_title{
    font-size: 30px;
    color: white;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.strategic_p{
    color: white;
}

.second_img img{
    width: 100%;
}

.second_icon{
    background-color: var(--rs-secondary);
    padding: 1.2rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.third-row .col12{
    background-color: var(--rs-secondary);
    padding: 1rem;
    color: white;
}

.img_testimonial img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.intro{
    color: black;
    margin: 1rem 0;
    font-weight: bold;
}

.third-row h3{
    color: white;
}

.third-row h2{
    text-align: center;
    font-size: 50px;
    color: var(--rs-secondary);
}

.fourth-row{
    background-color: var(--rs-secondary);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fourth-row h2{
    color: white;
    text-align: center;
    font-size: 50px;
}

.card{
    background-color: white;
    color: black;
    padding: 1rem;
}

.fourth-row h4{
    font-size: 25px;
    color: var(--rs-secondary);
    margin-bottom: 1rem;
}

.mod_number{
    font-size: 80px;
    color: var(--rs-secondary);
    font-weight: bold;
    margin: 1rem 0;
}

.fourth-row a{
    background-color: var(--rs-secondary);
    color: white;
    padding: 0.8rem;
    border-radius: 20px;
    text-align: center;
}

.fourth-row .col12{
    padding: 1rem;
}

.fourth-row .row{
    margin: -1rem;
}




@media screen and (min-width:758px) {
    .col-md-4{
        width:calc(100% / 12 * 4)
    }
    
    .col-md-6{
        width:calc(100% / 12 * 6)
    }
    
    .col-md-8{
        width:calc(100% / 12 * 8)
    }
    
    .col-md-12{
        width: 100%
    }

    .first-row .container{
        display: flex;
        flex-wrap: wrap;
    }

    .img_first img{
        width: 50%;
    }

    .second-row .row{
        display: flex;
        flex-wrap: wrap;
    }

    .first-row .row{
        flex-wrap: nowrap;
    }

    .testimonial_card{
        flex-direction: row;
        gap: 5rem;
    }

    .third-row .align-center{
        align-items: flex-start;
    }

}




@media screen and (min-width:1032px) {
    .icon_menu{
        display: none;
    }
    
    .text_menu{
        display: block;
    }

    .first-row .first_cardimg{
        display: flex;
        flex-direction: row;
    }

    .img_first img{
        width: 100%;
    }

    .container2 > .column{
        flex-direction: row;
    }

    .second-row .row{
        flex-wrap: nowrap;
        gap: 4rem;
    }

    .second_img img{
        width: 100%;
    }

    .col-l-5{
        width: calc(100% / 12 * 5);
        padding: 0 1rem;
        align-self: flex-end;
    }

    .col-l-7{
        width: calc(100% / 12 * 7);
    }

    .col-l-4{
        width: calc(100% / 12 * 4);
    }
}